.appbar {
  display: flex;
  width: screen;
  height: 5vh;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border-bottom: 1px solid rgb(54, 53, 53);
  font-size: x-large;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.editor {
  width: 100%;
  height: 35vh;
  border-bottom: 1px solid rgb(54, 53, 53);
}

.editor-header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(51, 51, 51);
  color: white;
}

.editor-header-left {
  background-color: #1e1e1e;
  padding: 10px 20px;
}

.editor-header-right {
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
}

.editor-instance {
  border-bottom: 1px solid rgb(54, 53, 53);
}

.output {
  width: 100%;
  height: 50vh;
  flex: 1;
}

.output-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: rgb(51, 51, 51);
}

.output-header-left {
  padding: 15px 10px;
  background-color: rgb(35, 34, 34);
  border-right: 1px solid rgb(54, 53, 53);
}

.table-component {
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
  background: #1a1a1a;
  color: white;
  font-size: small;
  border: 2px solid #444;
}

.table-container {
  max-width: 100%;
  height: 40vh;
  padding: 10px 20px;
  overflow: auto;
}

.history-container {
    width: 100%;
    height: 100%;
}

.history-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 5px 20px;
  border-left: 2px solid rgb(83, 83, 83)
}

.history-content {
  height: 85%;
  max-width: 20vw;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.history-content-item {
  max-width: 15vw;
  padding: 10px 15px;
  background-color: rgb(51, 51, 51);
  border-radius: 10px;
  font-size: small;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.history-content-item:hover {
  background-color: rgb(100, 100, 100);
  transition: all ease-in-out 0.3s;
}

.history-content-cleared {
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  color: #838383;
}

.example-content {
  height: 85%;
  max-width: 20vw;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.example-content-item {
  width: 15vw;
  padding: 10px 15px;
  background-color: rgb(51, 51, 51);
  border-radius: 10px;
  font-size: small;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.example-content-item:hover {
  background-color: rgb(100, 100, 100);
  transition: all ease-in-out 0.3s;
}

.example-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 10px 20px;
}