.app-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
}

.left {
    width: 20vw;
    height: 90vh;
    border: 1px solid rgb(54, 53, 53);
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(35, 34, 34);
}

.left-open {
    display: block !important;
}

.right {
    width: 20vw;
    height: 90vh;
    border: 1px solid rgb(54, 53, 53);
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(35, 34, 34);
    transition: all ease-in-out 1s;
}

.right-open {
    display: block !important;
}

.middle {
    width: 60vw;
    height: 90vh;
    border: 1px solid rgb(54, 53, 53);
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 5vh;
    background-color: rgb(35, 34, 34);
}